* {
    margin: 0px;
    padding: 0px;
}
/* Global */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.pd_top {
    padding-top: 100px;
}
.clear {
    clear: both;
}
/* Images */

/* Logos */
#main_logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* Nav-bar */

/* Section Parallax */
.header_parallax {
    background-image: url('../images/bg_parallax.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_parallax h2 {
    font-size: 35px;
    line-height: 1.5em;
    font-weight: bold;
    color: white;
}
.header_parallax a {
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}

/* Section MS */
#ms_boxes {
    background: #f9f9f9;
    background-attachment: fixed;
}
#ms_boxes h2 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: bold;
}
.ms_img_1 {
    background-image: url('../images/accounts.png'); 
}
.ms_img_2 {
    background-image: url('../images/admission.png'); 
}
.ms_img_3 {
    background-image: url('../images/attendance.png'); 
}
.ms_img_4 {
    background-image: url('../images/exam.png'); 
}
.ms_img_5 {
    background-image: url('../images/hostel.png'); 
}



.ms_img_1:hover,.ms_img_2:hover,.ms_img_3:hover,.ms_img_4:hover,.ms_img_5:hover {
    opacity: 0.5;
}
.row_ms .box_ms {
    /* border: 2px solid coral; */
    max-height: 250px;
    margin-bottom: 30px;
}
.ms_img_div {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.box_ms h4 {
    font-size: 18px;
    padding-top: 5px;
}
.box_ms a {
    color: black;
    text-decoration: none;
}

/* main footer */
#main_footer .row div {
    /* border: 2px solid coral; */
}
.f_ms_links ul a {
    text-decoration: none;
    color: black;
}
.f_ms_links ul a:hover {
   opacity: 0.8;
}

/* main footer */
#main_footer {
    font-size: 12px;
    margin-top: 20px;
}

/* Simple Footer */
.simple_footer {
    padding: 10px;
    float:left;
}
.f_icons span a {
    text-decoration: none;
}
.f_icons {
    float: right;
    margin-top: 8px;
}
.f_icons span {
    padding: 0px 8px 0px 8px;
}
.f_icons span img:hover {
    opacity: 0.8;
}

/* Media Queries - for mobile responsive */
@media (max-width: 768px) {
    .box_ms h4 {
        font-size: 18px;
    }
    #ms_boxes h2 {
        font-size: 22px;
    }
    #main_footer .row div {
        margin: 5px;
    }
}

@media (max-width: 560px) {
    .header_parallax {
        height: 450px;
    }
    .header_parallax h2 {
        font-size: 25px;
    }
    .header_parallax a {
        margin-top: 10px;
        font-size: 12px;
        padding: 5px 15px 5px 15px;
    } 
    .ms_box {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .ms_box_container .ms_box{
        float: none;
    }
    .simple_footer,.f_icons {
        float: none;
    }
    .f_icons {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
}